Repository CodeSystem2022/Grupo_Programaci-nUTN-TercerSemestre, pull requests merged in 2023-06, with the labels that each got.

#28 6.3 Manejo de transacciones con with
  Python/Leccion04- Clase 6. Parte 7/Transacciones_tres.py
Labels: Python, Laboratorio

#37 Subir clase 07-Java
  Python/Lección05/prueba_bd.py
Labels: Java

#57 Sysacad
  proyectosysacad_py/sysacad.py
Labels: Python, Proyecto_integrador

#60 cambio
  proyectosysacad_py/sysacad.py
Labels: Python, Proyecto_integrador

#61 Create usuarios-BD
  proyectosysacad_py/usuarios
Labels: Python, Proyecto_integrador

#62 Create registro
  proyectosysacad_py/registro
Labels: Python, Proyecto_integrador

#65 Update sysacad.py
  proyectosysacad_py/sysacad.py
Labels: Python, Proyecto_integrador

#75 Leccion12
  Java/Lección12/Conexión.java
Labels: Java

#76 Leccion12
  Java/Lección12/Main.java
Labels: Java

#77 Create pom.xml(estudiante)
  Java/Lección12/pom.xml(estudiante)
Labels: Java

#78 Conexión
  Python/Leccion 7/conexion.py
Labels: Python

#79 Create Leccion 07 - Clase 11 P.3
  Python/Leccion 07 - Clase 11 P.3
Labels: Python, Laboratorio
